{% load static %}
<!DOCTYPE HTML>
<!--
	TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="es">


	<head>
		<title>Preservación de Cadera Chile</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static 'web/assets/css/skel.css' %}" />
        <link rel="stylesheet" href="{% static 'web/assets/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'web/assets/css/style-large.css' %}" />

	</head>


	<body>

		<!-- Header -->
			<header id="header">
                <h1><a href="{% url 'index' %}" class="logo">Inicio</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="{% url 'info' %}">Informacion</a></li>
                        <li><a href="{% url 'itinerario' %}">Itinerario</a></li>
                        <li><a href="{% url 'signup new' %}">Inscripcion</a></li>
                        <li><a href="{% url 'contact new' %}">Contacto</a></li>
                    </ul>
                </nav>
			</header>

        <!-- insertion -->
         <div class="content container">
            <div class="row">
                <div class="col-md-300">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<section class="4u$ 12u$(medium) 12u$(large) ">
							<ul class="icons big">
                                <li><h4>Contactanos</h4></li>
                                <li><a href="#" class="icon fa-envelope"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							</ul>
						</section>
					</div>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

        <!-- Scripts -->

            <script src="{% static 'web/assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'web/assets/js/skel.min.js' %}"></script>
            <script src="{% static 'web/assets/js/skel-layers.min.js' %}"></script>
            <script src="{% static 'web/assets/js/init.js' %}"></script>
	</body>
</html>