{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Preservación de Cadera Chile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'web/assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="{% url 'index' %}">Inicio</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'info' %}">Informacion</a></li>
                        <li><a href="{% url 'itinerario' %}">Itinerario</a></li>
                        <li><a href="{% url 'signup new' %}">Inscripcion</a></li>
                        <li><a href="{% url 'contact new' %}">Contacto</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner row2">
					<h1>Curso Internacional de <br> preservacion de cadera</h1>
					<p>Santiago, Chile - 2018</p>
                    <a href="#links" class="button">Informacion</a>
                    <a href="#directores" class="button">Organizadores</a>
				</div>
			</section>

		<!-- Links -->
			<section id="links" class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Datos generales del curso</h2>
						<p>A continuacion se encuentran las principales informaciones para los asistentes</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<i class="icon big rounded fa-comments"></i>
								</header>
								<p>Informacion general del curso, ubicacion del lugar y fechas.</p>
                                <a href="{% url 'info' %}" class="button">Informacion</a>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<i class="icon big rounded fa-list-alt"></i>
								</header>
								<p>Itinerario de Charlas, junto con todas las actividades a realizarse.</p>
                                <a href="{% url 'itinerario' %}" class="button">Itineraio</a>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<i class="icon big rounded fa-user-plus"></i>
								</header>
								<p>Para participar del curso solo basta con inscribirse aqui.</p>
                                <a href="{% url 'signup new' %}" class="button">Inscripcion</a>
							</div>
						</section>
					</div>
				</div>
			</section>

        <!-- Directores -->
			<section id="directores" class="wrapper style1">
				<div class="inner">
					<header class="special">
						<h2>Directores</h2>
						<p>Organizadores del curso curso</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content2">
								<header>
									<div class="image round fit">
								        <img src="{% static "web/images/silueta.png" %}" alt="Person 1" />
							        </div>
								</header>
								<h3>Dr. Martín Salgado Gonzalez</h3>
							    <p>Hospital Sotero del Río</p>
							</div>
						</section>
						<section>
							<div class="content2">
								<header>
									<div class="image round fit">
								        <img src="{% static "web/images/silueta.png" %}" alt="Person 2" />
							        </div>
								</header>
								<h3>Dr. Lautaro Campos Torres</h3>
							    <p>Hospital Clínico la Florida</p>
							</div>
						</section>
                        <section>
							<div class="content2">
								<header>
									<div class="image round fit">
								        <img src="{% static "web/images/silueta.png" %}" alt="Person 3" />
							        </div>
								</header>
								<h3>Dr. Mauricio Vergara Sepulveda</h3>
							    <p>Hospital Exequiel González Cortes</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
                        <section>
							<ul class="icons">
                                <li><h4>Contactanos</h4></li>
                                <li><a href="{% url 'contact new' %}" class="icon fa-envelope"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Matias Ramirez. Photos and CSS <a href="https://unsplash.co">Unsplash</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'web/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'web/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'web/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'web/assets/js/util.js' %}"></script>
			<script src="{% static 'web/assets/js/main.js' %}"></script>

	</body>
</html>