{% extends 'web/base.html' %}
{% block content %}
<!-- Main -->
        <section class="wrapper">
            <div class="inner">
                <div class="content">
                    <header>
                        <h2>Informacion</h2>
                    </header>
                    <p>Aqui va toda la informacion del curso, datos, historias, citas, imagenes, etx. Todo lo que sea necesario informar para los interesados</p>
                </div>
            </div>
        </section>
{% endblock %}