{% extends 'web/base.html' %}
{% block content %}
<!-- Main -->
        <section class="wrapper">
            <div class="inner">
                <div class="content">
                    <header>
                        <h2>Inscripcion</h2>
                    </header>
                    <p>Completa los siguientes datos para realizar tu inscripcion</p>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="reset" class="button special">Borrar</button>
                        <button type="submit" class="button special">Inscribirse</button>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}